/** @format */

:root {
  --primary-color: #4e0a97; /* Example primary color */
}

body {
  background-color: #1e1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.SkillsSection {
  margin-top: 200px;
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  padding: 200px;
  background-color: var(--primary-color);
  box-sizing: border-box;
}

.SkillsLabel {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(78, 10, 151, 0.3); /* More transparent background */
  border-radius: 15px;
  box-sizing: border-box;
}

.card {
  background-color: rgba(
    27,
    27,
    27,
    0.7
  ); /* Slightly less transparent background */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.card img {
  width: 80px;
  height: 80px;
}

.card h3 {
  margin: 10px 0 0;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.05);
}
