/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.SkillsLabel {
  font-size: 50px;
  font-weight: 700;

  color: white;
  text-align: center;
}

.SkillsSection {
  margin-top: 200px;
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  padding: 200px;
  background-color: var(--primary-color);
}

.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(170px, 1fr)
  ); /* Adjust the min-width to make cards narrower */
  gap: 20px;
  padding: 20px;
  background-color: rgba(78, 10, 151, 0.3); /* More transparent background */
  border-radius: 15px;
}

.card {
  background-color: rgba(
    27,
    27,
    27,
    0.7
  ); /* Slightly less transparent background */
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  height: 150px;
}

.card img {
  width: 50px;
  height: 50px;
}

.card h3 {
  margin: 10px 0 0;
  font-size: 18px;
}

.card:hover {
  transform: scale(1.05);
}
